[run]
omit =
    src/ska/contrib/django/ska/migrations/*
    src/ska/contrib/django/ska/tests/*
    src/ska/contrib/django/ska/south_migrations/*
    src/ska/tests/*
    example/example/settings/*
    example/example/wsgi.py
    .tox/*
relative_files = True

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
