*.py[cod]
/.hgignore~
/.gitignore~
/.travis.yml~
.hg/
/.tox/
/.coverage
/.cache

/examples/simple/settings/local_settings.py
/examples/static
/examples/db/example.db
/examples/tmp
/examples/logs
/releases/
/builddocs/
/builddocs.zip
/build/
/dist/
/src/ska.egg-info
/src/ska/contrib/plone/
/examples/simple/tmp/
