*.py[cod]
/.hgignore~
/.gitignore~
/.travis.yml~
.hg/
/.tox/
/.coverage
/.cache
/.hgtags
/htmlcov/
*.py,cover
/.eggs/
/.idea/
/.pytest_cache/
monkeytype.sqlite3

/examples/simple/settings/local_settings.py
/examples/static
/examples/db/example.db
/examples/tmp
/examples/logs
/examples/var/
/releases/
/builddocs/
/builddocs.zip
/build/
/dist/
/src/ska.egg-info
/src/ska/contrib/plone/
/examples/simple/tmp/
monkeytype.sqlite3
